@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
}

.responsive-title {
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: center;
}

.responsive-subtitle {
  font-size: 1rem;
  line-height: 1.6rem;
  text-align: center;
}

.responsive-text {
  font-size: 0.8rem;
  line-height: 1.5rem;
}

@media (min-width: 768px) {
  .responsive-title {
    font-size: 2rem;
    line-height: 2.5rem;
  }

  .responsive-subtitle {
    font-size: 1.1rem;
    line-height: 2rem;
  }

  .responsive-text {
    font-size: 1rem;
    line-height: 2rem;
  }
}

@media (min-width: 1024px) {
  .responsive-title {
    font-size: 2rem;
    line-height: 2.5rem;
  }

  .responsive-subtitle {
    font-size: 1.1rem;
    line-height: 2rem;
  }

  .responsive-text {
    font-size: 1rem;
    line-height: 2rem;
  }
}

table {
  width: 100%;
  border-width: 0 0 1px 1px;
  border-style: solid;
  border-color: orange;
}
table th {
  background: #888;
  color: #fff;
}
table th,
table td {
  text-align: center;
  border-width: 1px 1px 0 0;
  border-style: solid;
  border-color: orange;
  padding: 3px 5px;
}

.subTotatlRow .sub-total-text {
  text-align: right;
}
